<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>polyclinic-web</display-name>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <listener>
        <listener-class>ru.rsreu.gorobchenko.polyclinicweb.listeners.SessionTimeoutListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>ru.rsreu.gorobchenko.polyclinicweb.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>ru.rsreu.gorobchenko.polyclinicweb.filters.RoleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/jsp/errors/internal.jsp</location>
    </error-page>
</web-app>